@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center"> Because your health matters</h2>
<div class="jumbotron text-center">
    <img class="center-block img-responsive" src="~/Img/banner1 (1).jpg"/>
    <a id="goBtn" href="/BloodWork/Index" class="btn btn-success btn-lg ">Go to your Blood Work &raquo;</a>
</div>
